<section class="home-page">
    <section class="menu">
        <div class="menu-item"></div>
        <div class="menu-item"></div>
        <div class="menu-item"></div>
        <div class="menu-item"></div>
        <div class="menu-item"></div>
        <div class="menu-item"></div>
        <div class="menu-item"></div>
    </section>
    <span class="title"></span>
    <span class="title"></span>
</section>   
