<section class="home-page">
    <section class="menu">
        <div class="menu-item" data-item="chicken">Classic Southern Fried Chicken</div>
        <div class="menu-item" data-item="doughnuts">Glazed Doughnuts</div>
        <div class="menu-item" data-item="soup">Thai Red Curry Soup</div>
        <div class="menu-item" data-item="taco">Fresh Homemade beef Taco</div>
        <div class="menu-item" data-item="salmon">Thai style Salmon with ginger and Soy Vegetables</div>
        <div class="menu-item" data-item="beef">Braised Beef with sauteed vegetables</div>
        <div class="menu-item" data-item="cake">Vanilla stacked Macaroon cake</div>
    </section>
    <span class="title">Food</span>
    <span class="title">Creations</span>
</section>   
