<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Food Creations</title>
  <meta name="description" content="food Creations landing page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cormorant+Garamond:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    {{{body}}}
</body>
</html>